h2{
    color:aliceblue;
}

.close{
    font-weight: 700;
    /*background-color: border-box;
    color:aliceblue;*/
    font-size: 33px;
    width: 50px;
    border: none;
    color: white;
    background: none;
}